landmark-aroundme/src/main/resources/request-example/landmarksAroundMe.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://jo5da1.com/location-based-landmark-aroundme" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://jo5da1.com/location-based-landmark-aroundme" targetNamespace="http://jo5da1.com/location-based-landmark-aroundme">
  <wsdl:types>
    <xs:schema xmlns="http://jo5da1.com/location-based-landmark-aroundme" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://jo5da1.com/location-based-landmark-aroundme">

    <!-- ========================= -->
    <!-- Coordinate Types -->
    <!-- ========================= -->

    <!-- Latitude: -90 to 90 -->
    <xs:simpleType name="LatitudeType">
        <xs:restriction base="xs:decimal">
            <xs:minInclusive value="-90"/>
            <xs:maxInclusive value="90"/>
        </xs:restriction>
    </xs:simpleType>

    <!-- Longitude: -180 to 180 -->
    <xs:simpleType name="LongitudeType">
        <xs:restriction base="xs:decimal">
            <xs:minInclusive value="-180"/>
            <xs:maxInclusive value="180"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="Coordinates">
        <xs:sequence>
            <xs:element name="Latitude" type="LatitudeType"/>
            <xs:element name="Longitude" type="LongitudeType"/>
        </xs:sequence>
    </xs:complexType>


    <!-- Radius: 1 to 50000 meters -->
    <xs:simpleType name="RadiusType">
        <xs:restriction base="xs:int">
            <xs:minInclusive value="1"/>
            <xs:maxInclusive value="50000"/>
        </xs:restriction>
    </xs:simpleType>

    <!-- ========================= -->
    <!-- Landmark Category ENUM -->
    <!-- ========================= -->

    <xs:simpleType name="LandmarkCategory">
        <xs:restriction base="xs:string">
            <xs:enumeration value="RESTAURANT"/>
            <xs:enumeration value="CAFE"/>
            <xs:enumeration value="HOTEL"/>
            <xs:enumeration value="HOSPITAL"/>
            <xs:enumeration value="PARK"/>
            <xs:enumeration value="MUSEUM"/>
            <xs:enumeration value="SCHOOL"/>
            <xs:enumeration value="SHOPPING_MALL"/>
        </xs:restriction>
    </xs:simpleType>

    <!-- ========================= -->
    <!-- Landmark Complex Type -->
    <!-- ========================= -->

    <xs:complexType name="Landmark">
        <xs:sequence>
            <xs:element name="Name" type="xs:string"/>
            <xs:element name="Category" type="LandmarkCategory"/>
            <xs:element name="Coordinates" type="Coordinates"/>
            <xs:element name="Distance" type="xs:decimal"/>
        </xs:sequence>
    </xs:complexType>

    <!-- ========================= -->
    <!-- Request -->
    <!-- ========================= -->

    <xs:complexType name="LandmarkCategoryList">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" name="Category" type="LandmarkCategory"/>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="GetAroundMeLandmarksRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Coordinates" type="Coordinates"/>
                <xs:element name="Radius" type="RadiusType"/>
                <xs:element minOccurs="0" name="Categories" type="LandmarkCategoryList"/>
                <!-- Optional Pagination -->
                <xs:element minOccurs="0" name="Page" type="xs:int"/>
                <xs:element minOccurs="0" name="PageSize" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- ========================= -->
    <!-- Response -->
    <!-- ========================= -->

    <xs:element name="GetAroundMeLandmarksResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="TotalCount" type="xs:int"/>
                <xs:element maxOccurs="unbounded" minOccurs="0" name="Landmark" type="Landmark"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="GetAroundMeLandmarksRequest">
    <wsdl:part element="tns:GetAroundMeLandmarksRequest" name="GetAroundMeLandmarksRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetAroundMeLandmarksResponse">
    <wsdl:part element="tns:GetAroundMeLandmarksResponse" name="GetAroundMeLandmarksResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="landmarksAroundMe">
    <wsdl:operation name="GetAroundMeLandmarks">
      <wsdl:input message="tns:GetAroundMeLandmarksRequest" name="GetAroundMeLandmarksRequest">
    </wsdl:input>
      <wsdl:output message="tns:GetAroundMeLandmarksResponse" name="GetAroundMeLandmarksResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="landmarksAroundMeSoap11" type="tns:landmarksAroundMe">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="GetAroundMeLandmarks">
      <soap:operation soapAction=""/>
      <wsdl:input name="GetAroundMeLandmarksRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="GetAroundMeLandmarksResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="landmarksAroundMeService">
    <wsdl:port binding="tns:landmarksAroundMeSoap11" name="landmarksAroundMeSoap11">
      <soap:address location="/services"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>